$nav-bar-font-size : 12px;
$nav-bar-font-family : serif, Arial;
$nav-bar-links-mobile : #000000;
$nav-bar-links-color : #ffff;
$nav-bar-links-hover-color : #000000;

$color1 : #000010;
$color2 : #1e2c4e;
$color3 : #505b99;
$color4 : #9391ef;
$color5 : #e7ccff;

