@media only screen and (max-width : 768px){

    #upcoming-text-nav{
        display: none;
    }

  

    .news-upcoming{
        height: 100vh;
        margin-top: 20%;
        text-align: center;

        .title{       
            padding: 2rem 0;

            h2{
                text-transform: uppercase;
                font-family: $nav-bar-font-family;
                font-size: 1.5rem;
            }
        }

        .news-upcoming-part{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin-left: 5%;
        }

        .arrow-down{
            text-align: center;
            animation: puls 1.5s infinite;
            span{
                font-size: 2rem;
            }
        }
    }
}
