@media only screen and (max-width : 768px) {
    .nav{

        list-style-type: none;

        border-top: 5px solid #185c94;
        border-bottom: 5px solid #185c94;
        height: 10vh;

        #close-menu-mobile{
            display: none;
        }

        .nav-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-left: 5%;
            margin-right: 5%;


        .fa{
            font-size: 1.5em;
        }

        
        
        .nav-bar-club-name{
            font-family: $staatliches;
            font-size: 1.5em;
        }
    
        .nav-bar-links{
            display: none;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            position: absolute;
            z-index: 10;
            top : 10vh;
            left : 0;
            font-size: 1.5em;
            background-color: #185c94;
            gap : 7px;
            list-style-type: none;
            width: 100%;
            height: 80vh;

            a{
                text-decoration: none;
                color : white;
                font-family: $staatliches;
            
            }

            }
        }
    }
}

@media only screen and (min-width : 768px) {

    .nav-bar{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 3rem;

        #menu-mobile, #close-menu-mobile{
            display: none;
        }

        .nav-bar-links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 93%;
            gap: 20px;
            height: 100%;

            li{
                list-style-type: none;
            }  

            .nav-bar-club-name{
                display: none;
            }
        }
        
        .links{
            color: $nav-bar-links-color;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;
            font-family: $nav-bar-font-family;
            letter-spacing: 2px;
            padding: 3px 6px;
        }

        .links:hover{
            background-color: $nav-bar-links-color;
            color: $nav-bar-links-hover-color;
            border-radius: 10px;
            padding: 3px 6px;
        }
    }
}

@media only screen and(min-width: 1440px){
    .links{
        font-size: 1.7rem;
    }
}