@-webkit-keyframes puls {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes puls {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  #background {
    background-image: url("assets/chess.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  #nav-bar {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 3rem;
  }
  #nav-bar #nav-bar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 93%;
    margin-top: 30px;
    gap: 20px;
  }
  #nav-bar #nav-bar-links li {
    list-style-type: none;
  }
  #nav-bar .links {
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: serif, Arial;
    letter-spacing: 2px;
    padding: 3px 6px;
  }
  #nav-bar .links:hover {
    background-color: #ffff;
    color: #000000;
    border-radius: 10px;
    padding: 3px 6px;
  }
  #upcoming-icon {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 1440px) {
  .links {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  #news-upcoming-players-contact {
    background: -webkit-gradient(linear, left top, left bottom, from(#16181a), color-stop(#213237), color-stop(#2d4f4c), color-stop(#4a6c57), to(#7a875c));
    background: linear-gradient(to bottom, #16181a, #213237, #2d4f4c, #4a6c57, #7a875c);
  }
  #news {
    height: 100vh;
    width: 100%;
  }
  #news #news-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin-left: 10%;
    border: 10px solid #388758;
    border-radius: 7px;
  }
  #news #news-part #news-picture {
    width: 50%;
    height: 100%;
  }
  #news #news-part #news-picture img {
    width: 80% !important;
    height: 80% !important;
    display: block;
  }
  #news #news-part #news-text {
    color: #ffff;
    padding: 2rem 4rem;
    width: 50%;
    height: 100%;
  }
  .arrow-down {
    text-align: center;
    padding: 2.5rem 0;
    -webkit-animation: puls 2s infinite;
            animation: puls 2s infinite;
  }
  .arrow-down span {
    color: #ffff;
    font-size: 4rem;
  }
  .title {
    text-align: center;
    padding: 2rem 0;
  }
  .title h2 {
    color: #ffff;
    text-transform: uppercase;
    font-family: serif, Arial;
    font-size: 2rem;
  }
  #upcoming {
    height: 100vh;
    width: 100%;
  }
  #upcoming #upcoming-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-left: 10%;
    gap: 1rem;
  }
  #upcoming #upcoming-part #upcoming-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #upcoming #upcoming-part #upcoming-picture img {
    width: 30% !important;
    height: 30% !important;
  }
  #upcoming #upcoming-part #upcoming-text {
    background-color: #ffff;
    color: #000000;
    padding: 2rem 4rem;
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 768px) {
  #upcoming-text-nav {
    display: none;
  }
  #nav {
    border-top: 5px solid #070707a4;
    border-bottom: 5px solid #070707a4;
  }
  #nav #nav-bar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav #nav-bar-links li {
    list-style-type: none;
  }
  #nav #nav-bar-links a {
    text-decoration: none;
    font-size: 12px;
    font-family: serif, Arial;
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
  }
  #nav #nav-bar-links #upcoming-text {
    display: none;
  }
  .news-upcoming {
    height: 100vh;
    margin-top: 20%;
    text-align: center;
  }
  .news-upcoming .title {
    padding: 2rem 0;
  }
  .news-upcoming .title h2 {
    text-transform: uppercase;
    font-family: serif, Arial;
    font-size: 1.5rem;
  }
  .news-upcoming .news-upcoming-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin-left: 5%;
  }
  .news-upcoming .arrow-down {
    text-align: center;
    -webkit-animation: puls 1.5s infinite;
            animation: puls 1.5s infinite;
  }
  .news-upcoming .arrow-down span {
    font-size: 2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

.button {
  outline: none;
  border: none;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background {
  height: 95vh;
}

.background .background-desktop {
  display: none;
}

.background .background-mobile {
  height: 45vh;
  width: 100%;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
