@-webkit-keyframes puls {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes puls {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .news-upcoming-players-contact {
    background: -webkit-gradient(linear, left top, left bottom, from(#16181a), color-stop(#213237), color-stop(#2d4f4c), color-stop(#4a6c57), to(#7a875c));
    background: linear-gradient(to bottom, #16181a, #213237, #2d4f4c, #4a6c57, #7a875c);
  }
}

@media only screen and (min-width: 768px) {
  .title {
    text-align: center;
    padding: 2rem 0;
  }
  .title h2 {
    color: #ffff;
    text-transform: uppercase;
    font-family: serif, Arial;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    text-align: center;
    padding: 1rem 0;
  }
  .title h2 {
    color: #000000;
    text-transform: uppercase;
    font-family: serif, Arial;
    font-size: 1.5rem;
  }
}

.button {
  outline: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  .arrow-down {
    text-align: center;
    padding: 2.5rem 0;
    -webkit-animation: puls 2s infinite;
            animation: puls 2s infinite;
  }
  .arrow-down span {
    color: #ffff;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .arrow-down {
    text-align: center;
    -webkit-animation: puls 1.5s infinite;
            animation: puls 1.5s infinite;
  }
  .arrow-down span {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .news {
    height: 100vh;
    width: 100%;
  }
  .news .news-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin-left: 10%;
    border: 10px solid #388758;
    border-radius: 7px;
  }
  .news .news-part .news-picture {
    width: 50%;
    height: 100%;
  }
  .news .news-part .news-picture img {
    width: 80% !important;
    height: 80% !important;
    display: block;
  }
  .news .news-part .news-text {
    color: #ffff;
    padding: 2rem 4rem;
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .news-upcoming {
    height: 100vh;
    margin-top: 20%;
    text-align: center;
  }
  .news-upcoming .title {
    padding: 2rem 0;
  }
  .news-upcoming .title h2 {
    text-transform: uppercase;
    font-family: serif, Arial;
    font-size: 1.5rem;
  }
  .news-upcoming .news-upcoming-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .upcoming {
    height: 100vh;
    width: 100%;
  }
  .upcoming .upcoming-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-left: 10%;
    gap: 1rem;
  }
  .upcoming .upcoming-part .upcoming-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .upcoming .upcoming-part .upcoming-picture img {
    width: 30% !important;
    height: 30% !important;
  }
  .upcoming .upcoming-part .upcoming-text {
    background-color: #ffff;
    color: #000000;
    padding: 2rem 4rem;
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .nav {
    border-top: 5px solid #185c94;
    border-bottom: 5px solid #185c94;
    height: 10vh;
  }
  .nav .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav .nav-bar .fa-bars {
    font-size: 1.5em;
  }
  .nav .nav-bar .nav-bar-club-name {
    font-family: "Staatliches", cursive;
    font-size: 1.5em;
  }
  .nav .nav-bar .nav-bar-links {
    display: none;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 0;
    font-size: 1.5em;
    background-color: #185c94;
    gap: 10px;
    height: 90vh;
  }
  .nav .nav-bar .nav-bar-links li {
    list-style-type: none;
  }
  .nav .nav-bar .nav-bar-links a {
    text-decoration: none;
    color: white;
    font-family: "Staatliches", cursive;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3rem;
  }
  .nav-bar .nav-bar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 93%;
    gap: 20px;
    height: 100%;
  }
  .nav-bar .nav-bar-links li {
    list-style-type: none;
  }
  .nav-bar .nav-bar-links .nav-bar-club-name {
    display: none;
  }
  .nav-bar .links {
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: serif, Arial;
    letter-spacing: 2px;
    padding: 3px 6px;
  }
  .nav-bar .links:hover {
    background-color: #ffff;
    color: #000000;
    border-radius: 10px;
    padding: 3px 6px;
  }
}

@media only screen and (min-width: 1440px) {
  .links {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .background {
    height: 90vh;
  }
  .background .background-desktop {
    display: none;
  }
  .background .background-mobile {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  }
}

@media only screen and (min-width: 768px) {
  .background {
    height: 100vh;
    width: 100%;
  }
  .background .background-mobile {
    display: none;
  }
  .background .background-desktop {
    width: 100%;
    height: 100vh;
  }
}
