
*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html{
    height : 100%;
}

$nav-bar-font-size : 12px;
$nav-bar-font-family : serif, Arial;
$nav-bar-links-mobile : #000000;
$nav-bar-links-color : #ffff;
$nav-bar-links-hover-color : #000000;

@media only screen and (max-width : 768px){

    #background{
        background: url("assets/background-mobile.jpg");
        background-position: center center;
        background-repeat: no-repeat; background-size: cover;
        background-color: #c4b5b5a4;
        height: 95vh;
        width : 100%;
    }
    #logo{
        display: none;
    }

    #nav{

        border-top: 5px solid #070707a4;
        border-bottom: 5px solid #070707a4;

        #nav-bar-links{
            display: flex;
            width: 100%;
            height: 5vh;
            justify-content: space-evenly;
            align-items: center;
            
            li{
                list-style-type: none;
            }

            a{
                text-decoration: none;
                margin-left: 0.1rem;
                font-size: $nav-bar-font-size;
                font-family: $nav-bar-font-family;
                text-transform: uppercase;
                color : $nav-bar-links-mobile;
            }

            #upcoming-text{
                display: none;
            }
        }
    }

    #news{
        height: 100vh;
        width: 100%;
    

        #news-title{
            text-align: center;
            padding: 2rem 0;

            h2{
                color: $nav-bar-links-mobile;
                text-transform: uppercase;
                font-family: $nav-bar-font-family;
                font-size: 2rem;
            }
        }


        #news-part{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            margin-left: 10%;
        }

        #news-picture{
            width: 100%;
            height: 50%;

            img{
                width: 100%;
                height: 100%;
            }
        }

        #news-text{
            color: $nav-bar-links-mobile;
            width: 100%;
            height: 50%;
        }
    }
}



@media only screen and(min-width: 1024px){

    #background{
        background-image: url("assets/chess.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        aspect-ratio: width/height;
    }

    #nav-bar{
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3rem;
    }

    #nav-bar-links{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        width: 93%;
        align-items: center;
        margin-top: 30px;
        gap: 20px;

        li{
            list-style-type: none;

            span{
                display: none;
            }
        }  
    }

    #icon{
        height: 2.5rem;
        width: 2.5rem;
        padding: 5px;
        align-items: flex-start;
    }

    .links{
        color: $nav-bar-links-color;
        list-style-type: none;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: $nav-bar-font-family;
        letter-spacing: 2px;
        padding: 3px 6px;
        
    }

    @media only screen and(min-width: 1440px){
        .links{
            font-size: 1.7rem;
        }
    }

    .links:hover{
        background-color: $nav-bar-links-color;
        color: $nav-bar-links-hover-color;
        border-radius: 10px;
        padding: 3px 6px;
    }

    #news-upcoming-players-contact{
        background: linear-gradient(to bottom, #16181a, #213237, #2d4f4c, #4a6c57, #7a875c);
    }

    #news{
        height: 100vh;
        width: 100%;
    }

    #news-title{
        text-align: center;
        padding: 2rem 0;

        h2{
            color: $nav-bar-links-color;
            text-transform: uppercase;
            font-family: $nav-bar-font-family;
            font-size: 2rem;
        }
    }


    #news-part{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
        border: 10px solid #388758;
        border-radius: 7px;
    }

    #news-picture{
        width: 50%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    #news-text{
        color: $nav-bar-links-color;
        padding: 2rem 4rem;
        width: 50%;
        height: 100%;
    }

    .arrow-down{
        text-align: center;
        padding: 2.5rem 0;

        span{
            color: $nav-bar-links-color;
            font-size: 4rem;
        }
    }
    
}
