* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #background {
    background: url("assets/background-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c4b5b5a4;
    height: 95vh;
    width: 100%;
  }
  #logo {
    display: none;
  }
  #nav {
    border-top: 7px solid #070707a4;
    border-bottom: 7px solid #070707a4;
  }
  #nav #nav-bar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav #nav-bar-links li {
    list-style-type: none;
  }
  #nav #nav-bar-links a {
    text-decoration: none;
    margin-left: 0.1rem;
    font-size: 0.8rem;
    font-family: serif, Arial;
    text-transform: uppercase;
    color: #000000;
  }
}

@media only screen and (min-width: 1024px) {
  #background {
    background-image: url("assets/chess.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    aspect-ratio: width/height;
  }
  #nav-bar {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 3rem;
  }
  #nav-bar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 93%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    gap: 20px;
  }
  #nav-bar-links li {
    list-style-type: none;
  }
  #nav-bar-links li span {
    display: none;
  }
  #icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .links {
    color: #ffff;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    font-family: serif, Arial;
    letter-spacing: 2px;
    padding: 3px 6px;
  }
  .links:hover {
    background-color: #ffff;
    color: #000000;
    border-radius: 10px;
    padding: 3px 6px;
  }
  #news {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #434343), color-stop(81%, #44444c));
    background: linear-gradient(180deg, #434343 13%, #44444c 81%);
    height: 100vh;
    width: 100%;
  }
  #news-title {
    text-align: center;
    padding: 2rem 0;
  }
  #news-title h2 {
    color: #ffff;
    text-transform: uppercase;
    font-family: serif, Arial;
    font-size: 2rem;
  }
  #news-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-left: 10%;
  }
  #news-picture {
    width: 50%;
    overflow: hidden;
    height: 100%;
  }
  #news-text {
    padding: 2rem 4rem;
    width: 50%;
  }
}
