@media only screen and(min-width: 768px){

    #upcoming{
        height: 100vh;
        width: 100%;

        .upcoming-part{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            margin-left: 10%;
            gap: 1rem;

            .upcoming-picture{
                display:flex;
                justify-content:center;
                align-items:center;
        
                img{
                    width: 30% !important;
                    height: 30% !important;
                }
            }
        
            .upcoming-text{
                background-color: $nav-bar-links-color;
                color: $nav-bar-links-hover-color;
                padding: 2rem 4rem;
                width: 100%;
                height: 50%;
                border-radius: 10px;
            }
        }
    }
}