*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html{
    height : 100%;
}

@media only screen and (max-width: 768px){
    *{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 0.1rem;
        text-shadow: 1px 1px 1px rgb(236, 232, 232), 0 0 2em rgb(255, 255, 251), 0 0 1em rgb(183, 182, 187);
    }
    
}