
*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html{
    height : 100%;
}

@font-face {
    font-family: 'Marriweather';
    src: url("https://fonts.googleapis.com/css2?family=Merriweather");
    font-display: swap;
}

$nav-bar-font-size : 0.8rem;
$nav-bar-font-family : 'Marriweather', serif;
$nav-bar-links-mobile : #000000;
$nav-bar-links-color : #ffff;
$nav-bar-links-hover-color : #000000;
