@media only screen and (max-width : 768px){

    #background{
        background: url("assets/background-mobile.jpg");
        background-position: center center;
        background-repeat: no-repeat; background-size: cover;
        background-color: #c4b5b5a4;
        height: 95vh;
        width : 100%;
    }
    #logo{
        display: none;
    }

    #nav{

        border-top: 5px solid #070707a4;
        border-bottom: 5px solid #070707a4;

        #nav-bar-links{
            display: flex;
            width: 100%;
            height: 5vh;
            justify-content: space-evenly;
            align-items: center;
            
            li{
                list-style-type: none;
            }

            a{
                text-decoration: none;
                margin-left: 0.1rem;
                font-size: $nav-bar-font-size;
                font-family: $nav-bar-font-family;
                text-transform: uppercase;
                color : $nav-bar-links-mobile;
            }
        }
    }
}
